/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #08b2fc;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 25px;
    padding: 20px;
}

.header img {
    height: 125px;
}

h1 {
    text-align: center;
}

/* Navigation */
nav {
    background: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #ddd;
}

/* Logo Hover */
#logo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Content */
#text, .treaty-text {
    font-size: 20px;
    margin: 20px;
}

#images, #image {
    height: 300px;
    display: block;
    margin: 20px auto;
}

/* Footer */
footer {
    text-align: center;
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
}

/* Iframe */
.iframe-container {
    display: flex;
    justify-content: center;
}

iframe {
    max-width: 800px;
    width: 100%;
}
